@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 600px) {
  
	
	
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
										LAYOUT 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
main{
	display: grid;
	grid-template-areas: "nav main main main";
	padding: .5em;
}

nav{
	grid-area: nav;
	padding: .5em;
}

main section.mainsection{
	grid-area: main;
	padding: .5em;
}
	

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
										MISC 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	#madlibs-entry {
		display: grid;
		grid-template-columns: 30% 30% 30%;
		grid-gap: 1em;
	}
	
	#madbutton {
		grid-row-start: 8;
	}

	#mySVG, #grassy-container {
		width: 700px;
		height: 30em;
	}

	#bg-green, #grass-fill {
		width: 800px;
		height: 30em;
		transform: translate(-25%, -10%);
	}

	#bug4 {
		position: relative;
		top: -5em;
		left: 10em;
	}

	#bug5 {
		position: relative;
		left: 20em;
	}

	#bug6 {
		position: relative;
		top: 10em;
		left: 25em;
	}
	
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
										NAVIGATION 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#menu-check, #menu{
	display: none;
}


.topnav{
	position: relative;
	opacity: 100%;
}

	
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
										INTERACTIVE PIECES 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	
	input, textarea, select {
		max-width: 40em;
		display: block;
	}
	
	#powers input, #char-type>input{
		display: inline;
		margin-right: 30%;
		float: right;
}

	video {
		max-width: 600px;
	}
	#video-controls {
		height: 30px;
		max-width: 300px;
	}
/*DON'T DELETE THIS ONE!*/	
}